/* You can add global styles to this file, and also import other style files */
@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.text-center{
    text-align: center;
}

.full-width{
    width: 100%;
}

.ml20{
    margin-left: 20px !important;
}

.mr20{
    margin-left: 20px !important;
}

.mt20{
    margin-left: 20px !important;
}

.mb20{
    margin-left: 20px !important;
}

.ml10{
    margin-left: 20px !important;
}

.mr10{
    margin-left: 20px !important;
}

.mt10{
    margin-left: 20px !important;
}

.mb10{
    margin-left: 20px !important;
}