<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="container">
                    <!-- <img src="" alt=""> -->
                </div>
                <h1 class="text-center" style="margin-top: 20px;">Register Here</h1>
                <form action="#">
                    
                    <!-- Username -->
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>User Name</mat-label>
                        <input matInput placeholder="Username">
                    </mat-form-field>

                      <!-- Password -->
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Password</mat-label>
                        <input type="password" matInput placeholder="Password">
                    </mat-form-field>

                      <!-- Firstname -->
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>First Name</mat-label>
                        <input matInput placeholder="Firstname">
                    </mat-form-field>

                      <!-- Lastname -->
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Last Name</mat-label>
                        <input matInput placeholder="Lastname">
                    </mat-form-field>

                      <!-- Email -->
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Email</mat-label>
                        <input type="email" matInput placeholder="Email">
                    </mat-form-field>

                      <!-- Phonenumber -->
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Phonenumber</mat-label>
                        <input type="number" matInput placeholder="Phonenumber">
                    </mat-form-field>

                    <div class="container">
                        <button mat-raised-button color="primary">Register</button>
                        <button style="margin-left: 20px;" mat-raised-button color="accent">Clear</button>
                    </div>

                </form> 
            </div>
        </div>
    </div>
  </div>